html, body {
  width: 450px;
  height: 550px;
  font-size: 65%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #fafafa;
}

section {
  width: 100%;
  position: relative;
}

.hidden { display: none; }

.authentication {
  padding: 20px 0;
  text-align: center;
}

/* TODO Use flexbox for this component and its content instead
 *      of hard-coded heights */
.authenticated {
  height: 550px;
}

.list-component {
  width: 100%;
  height: 507px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;
}

.list-component .item {
  margin: 0;
  position: relative;
  padding: 8px 1px 2px 1px;
  border-bottom: 1px solid #eee;
}


.list-component .item span,
.list-component .item .tick {
  cursor: pointer;
}

/* TODO: Flexbox for span + tick sizing */
.list-component .item span {
  display: inline-block;
  width: 90%;
  margin-left: 36px;
  height: 16px;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-component .item .title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
}

.list-component .item:hover .title {
  /* color: #111; */
  color: #50bcb6;
}

.list-component .item .url {
  position: relative;
  top: -4px;

  font-size: 0.8rem;
  color: #aaa;
}



.list-component .item .tick,
.list-component .item .loader {
  position: absolute;
  top: 14px;
  left: 6px;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.list-component .item .tick {
  color: white;
  font-size: 1.1rem;
  text-align: center;
  background-color: #aaa;
  border-radius: 20px;
  opacity: 0.4;
}

.list-component .item:hover .tick {
  opacity: 0.7;
}

.list-component .item .tick:hover {
  background-color: #f13044;
  opacity: 1;
}

.list-component .item .loader {
  height: 12px;
  width: 12px;
  animation: rotate 0.8s infinite linear;
  border: 4px solid #f15d6c;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate( 0deg); }
  100%  { transform: rotate(360deg); }
}

.search-no-results {
  width: 100%;
  height: 357px;
  margin: 0;
  padding-top: 2rem;
  text-align: center;

  font-size: 1.5rem;
  font-weight: bold;
  color: #444;
}


.top-actions {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 100%;
  padding: 5px 0;
  color: #444;
}

.top-actions .icon {
  flex: initial;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
  font-size: 2rem;
}

.top-actions .icon:first-child {
  padding-left: 0px;
}

.top-actions .icon:hover {
  color: #f13044;
}

.top-actions .filter-items {
  flex: 1;
  margin: 3px 10px 3px 20px;
}


/*
 * Thanks to Che for this example: http://codepen.io/code_dependant/pen/ciGLA?editors=1100
 */
.main-loader {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #666;
}

.main-loader.loading {
  background-color: transparent;
}

.main-loader.loading:after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  background-color: #50bcb6;
  left: 0%;
  right: 100%;

  animation: loading 1.2s ease infinite;
}

@keyframes loading {
  0%   { left: 0;     right: 100%; }
  50%  { left: 0;     right: 0;    }
  100% { left: 100%;  right: 0;    }
}



.error-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  line-height: 15px;
  opacity: 1;

  border-top: 1px solid red;
  background-color: rgba( 215, 25, 25, 0.7 );
  color: white;
  font-weight: bold;
  text-align: center;
}

.error-overlay.hidden {
  /* Needed to counter the 'display:none' of the .hidden class. Without this, the overlay
   * display goes from block to none, and it's hidden all at once */
  display: block;

  height: 0px;
  opacity: 0;
  transition: height 500ms ease-out, opacity 500ms ease-out;
}
