$background: #fcfcfc;
$pocket-aqua: #50bcb6;
$pocket-red: #f13044;


html, body {
  width: 450px;
  height: 550px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: $background;
}

section {
  width: 100%;
  position: relative;
}

.hidden { display: none; }

.authentication {
  padding: 20px 0;
  text-align: center;
}

/* TODO Use flexbox for this component and its content instead
 *      of hard-coded heights */
.authenticated {
  height: 550px;
}

.list-component {
  width: 100%;
  height: 516px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;

  // Move up since the main-loader is 2px high and is moved up on 2px
  // (onto the top-actions container)
  position: relative;
  top: -2px;

  .item {
    margin: 0;
    position: relative;
    padding: 0.5rem 0.1rem 0.2rem 0.1rem;
    border-bottom: 1px solid #eee;

    span, .tick, .trash {
      cursor: pointer;
    }

    /* TODO: Flexbox for span + tick sizing */
    span {
      display: inline-block;
      width: 95%;
      margin-left: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.1;
    }

    .title {
      height: 1.5rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: #666;
    }

    &:hover .title {
      color: #444;
    }

    .url {
      height: 1.1rem;
      position: relative;
      top: -2px;

      font-size: 0.75rem;
      color: #aaa;
    }


    &:hover .actions-container {
      opacity: 1;
      transition: opacity 250ms ease-out;
    }

    .actions-container {
      opacity: 0;
      transition: opacity 250ms ease-out;
      z-index: 1;

      position: absolute;
      top: 0;
      right: 0;
      width: 8rem;
      height: 100%;
      background-color: transparentize( $background, 0.1 );
      border-left: 1px solid #ddd;

      display: flex;
      flex-direction: row;

      .tick-action, .delete-action {
        cursor: pointer;
        flex: 1 0 0;
        opacity: 0.8;

        // So that tick/loader are automatically centered
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          opacity: 1;
        }

        .icon {
          color: #444;
          font-size: 1.5rem;
        }

        .loader {
          height: 1.8rem;
          width: 1.8rem;
          animation: rotate 0.8s infinite linear;
          border-radius: 50%;
        }
      }

      .tick-action {
        &:hover {
          background-color: transparentize( $pocket-aqua, 0.5 );
        }

        .loader {
          border: 0.3rem solid #444;
          border-right-color: transparent;
        }
      }

      .delete-action {
        &:hover {
          background-color: transparentize( $pocket-red, 0.5 );
        }

        .loader {
          border: 0.3rem solid #444;
          border-right-color: transparent;
        }
      }
    }
  }
}



@keyframes rotate {
  0%    { transform: rotate( 0deg); }
  100%  { transform: rotate(360deg); }
}

.search-no-results {
  width: 100%;
  height: 357px;
  margin: 0;
  padding-top: 2rem;
  text-align: center;

  font-size: 1.5rem;
  font-weight: bold;
  color: #444;
}


.top-actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 2.8rem;
  width: 100%;
  padding: 0.5rem 0;

  background-color: $pocket-aqua;

  .icon {
    flex: initial;
    display: inline-block;
    cursor: pointer;
    font-size: 1.9rem;
    color: white;

    opacity: 0.8;
    transition: opacity 100ms ease-out;

    width: 2rem;
    margin-right: 0.5rem;

    &:first-child {
      margin-left: 0.5rem;
    }

    &:hover {
      opacity: 1;
      transition: opacity 100ms ease-out;
    }

    &.random-item {
      font-weight: bold;
      margin-right: 1rem;
    }
  }

  .filter-items {
    flex: 1;
    margin-right: 3rem;
    padding: 0.4rem 1rem;
    height: 2rem;

    background-color: transparentize( white, 0.5 );
    border-radius: 2rem;
    border: 1px solid #ddd;
    color: #555;
    font-size: 1.1rem;
  }
}


/*
 * Thanks to Che for this example: http://codepen.io/code_dependant/pen/ciGLA?editors=1100
 */
.main-loader {
  position: relative;
  top: -2px;
  height: 2px;
  width: 100%;
  background-color: transparent;

  &.loading:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    background-color: $pocket-red;
    left: 0%;
    right: 100%;

    animation: loading 1.2s ease infinite;
  }
}


@keyframes loading {
  0%   { left: 0;     right: 100%; }
  50%  { left: 0;     right: 0;    }
  100% { left: 100%;  right: 0;    }
}



.flash-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 2.5rem;
  opacity: 1;

  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2;
  text-align: center;

  &.error {
    border-top: 1px solid red;
    background-color: rgba( 215, 25, 25, 0.7 );
    color: white;
  }
  &.notice {
    border-top: 1px solid #58addd;
    background-color: rgba( 88, 175, 220, 0.8 );
    color: white;
  }

  &.hidden {
    /* Needed to counter the 'display:none' of the .hidden class. Without this, the overlay
     * display goes from block to none, and it's hidden all at once */
    display: block;

    height: 0px;
    opacity: 0;
    transition: height 500ms ease-out, opacity 500ms ease-out;
  }
}
