@import "../assets/shared";

body {
  color: $ff-grey-80;
}

.hidden {
  transition: opacity 100ms ease-out;
  opacity: 0 !important;
}

.saved-notification {
  position: absolute;
  right: 0;
  top: 1rem;

  width: 100px;
  padding: 2px;

  background-color: transparentize($ff-green-60, 0.8);
  color: $ff-green-60;
  font-weight: bold;
  text-align: center;

  border: 2px solid $ff-green-60;
  border-radius: 2px;

  opacity: 1;
  transition: opacity 400ms ease-out;
}

h2 {
  font-weight: normal;
}

.row {
  margin: 0px;
  margin-left: -5px;
  padding: 6px 0px 6px 6px;
  line-height: 16px;
  border-top: 1px solid #e1e1e1;

  label {
    display: inline-block;
    width: 40%;
    min-width: 200px;
  }

  a {
    color: $ff-blue-50;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    border: 1px $ff-grey-20 solid;
    vertical-align: middle;
    margin-left: 2rem;
  }

  input, pre {
    display: inline-block;
  }

  select,
  input[type="text"] {
    width: 12rem;
  }

  &:first-of-type {
    border-top: 0px none;
  }
}
