@import url("../assets/shared.css");

body {
  color: var(--ff-grey-80);
  min-width: 600px;
}

.hidden {
  transition: opacity 100ms ease-out;
  opacity: 0 !important;
}

.saved-notification {
  position: absolute;

  /* Starting position: the top value is then updated via JS
   * to move the save notification to the correct row */
  right: 0;
  top: 1rem;

  margin-top: 0.2rem;
  padding: 0.2rem 1rem;

  background-color: rgba(var(--ff-green-60-rgb), 0.1);
  color: var(--ff-green-60);
  font-weight: bold;
  text-align: center;

  border: 2px solid var(--ff-green-60);
  border-radius: 4px;

  opacity: 1;
  transition: opacity 400ms ease-out;
}

h2 {
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.row {
  margin: 0px;
  padding: 6px 0px 6px 6px;
  line-height: 1.2;
  border-top: 1px solid var(--ff-grey-20);

  &.notice {
    padding: 0.5rem 1rem;
    margin: 1rem 0rem;
    line-height: 1.4;
    border-radius: 6px;

    color: var(--ff-grey-80);
    background-color: #d8ecf6;
  }
  &.warning {
    padding: 0.5rem 1rem;
    margin: 1rem 0rem;
    line-height: 1.4;
    border-radius: 6px;

    /* NOTE: same color as the development badge color */
    background-color: #fcab10;
    color: var(--ff-grey-80);
  }

  label {
    display: inline-block;
    width: 45%;
    min-width: 200px;
    margin-right: 1rem;
  }

  a {
    color: var(--ff-blue-50);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    border: 1px var(--ff-grey-20) solid;
    vertical-align: middle;
    margin-left: 2rem;
  }

  input,
  pre {
    display: inline-block;
  }

  select,
  input[type="text"] {
    width: 12rem;
  }

  &:first-of-type {
    border-top: 0px none;
  }

  .disconnect-account-second-step-confirm {
    font-weight: bold;
  }
}

/**
 * Light / Dark
 * MacOS: this refers to the system setting
 */

@media (prefers-color-scheme: dark) {
  :root {
    --dark-options-background: #202023;
    --dark-options-foreground: #dadada;
    --dark-options-background-rgb: 32,32,35;
    --dark-options-foreground-rgb: 218,218,218;
  }

  body {
    background-color: var(--dark-options-background);
    color: var(--dark-options-foreground);
  }

  h2,
  h3 {
    color: white;
  }

  .row {
    border-top-color: rgba(var(--dark-options-foreground-rgb), 0.2);

    img {
      border-color: rgba(var(--dark-options-foreground-rgb), 0.5);
    }
  }
}
